{% if gps %}
  {% if config.showDevice %}
    <div class="small">
      <span class="fa fa-satellite-dish fa-fw dimmed"></span>
      <span>{{gps.device}}</span>
    </div>
  {% endif %}
  {% if config.showMode %}
    <div class="small">
      <span class="fa fa-map-marker fa-fw dimmed"></span>
      <span>{{gps.mode | gpsMode}}</span>
    </div>
  {% endif %}
  <div class="normal medium">
    <span class="fa fa-compass dimmed"></span>
    <span>
      {{ gps.track | roundValue }}
      <sup>
        {{ gps.track | direction | translate }}
        &nbsp;
      </sup>
    </span>
    <span class="fa fa-clock-o dimmed"></span>
    <span>{{gps.time | formatTime}}</span>
  </div>
  <div class="large light">
    <span class="bright">
      {{ gps.speed | speed }}
    </span>
  </div>
  {% if config.showSats %}
    <div class="small">
      <span class="fa fa-satellite fa-fw dimmed"></span>
      <span>{{sky.satellites.length}}</span>
    </div>
  {% endif %}
  <div class="small">
    <span class="fa fa-arrows-alt-v fa-fw dimmed"></span>
    <span>Latitude: {{gps.lat | roundCoord}}</span>
    <br/>
    <span class="fa fa-arrows-alt-h fa-fw dimmed"></span>
    <span>Longitude: {{gps.lon | roundCoord}}</span>
  </div>
{% else %}
  <div class="dimmed light small">
    {{ "LOADING" | translate | safe }}
  </div>
{% endif %}

{% if config.debug %}
  <!-- Uncomment the line below to see the contents of the `current` object. -->
  <div class="xsmall dimmed">
  TPV: {{gps | dump}}
    <br/>
  SKY: {{sky | dump}}
  </div>
{% endif %}
