<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>
{{config.text | safe}}
<br />
Time: {{current.time}} | Speed: {{current.speed}}
</div>
